<div class="row mb-10">
  <div class="col-md-7">
    <div class="imgcontainer">
      <img
        src="../../../../assets/img/img1.jpg"
        alt="logInLogo"
        class="logInLogo"
      />
    </div>
  </div>
  <div class="col-md-4 offset-md-1">
    <div class="headingContainer">
      <h1>{{ alreadyHaveAnAccount ? "Sign Up" : "Log in" }}</h1>
      <p>Enter your details below</p>
    </div>
    <div class="card">
      <div class="card-body">
        <ng-container *ngIf="alreadyHaveAnAccount">
          <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <div class="form-group">
              <label for="userRole">User Role</label>
              <select
                id="userRole"
                formControlName="userRole"
                class="form-control"
              >
                <option value="buyer">Buyer</option>
                <option value="admin">Admin</option>
                <option value="superAdmin">Super Admin</option>
              </select>
            </div>
            <div class="buttonCreate">
              <button class="createBtn" mat-raised-button color="warn">
                Create An Account
              </button>
              <div class="googlebtn">
                <button mat-raised-button color="Basic" class="btn btn-block">
                  <img
                    src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google logo"
                    width="20"
                    height="20"
                    style="margin-right: 8px"
                  />
                  Sign up with Google
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <!-- log-in Form -->
        <ng-container *ngIf="!alreadyHaveAnAccount">
          <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
            </div>

            <div class="buttonLogin">
              <button mat-raised-button color="warn">Log In</button>
              <a href="javascript:;">Forgot Password</a>
            </div>
          </form>
        </ng-container>
        <div class="text-danger">
          {{
            alreadyHaveAnAccount
              ? "Have already account"
              : "Dont't have an account"
          }}
          <a
            (click)="alreadyHaveAnAccount = !alreadyHaveAnAccount"
            href="javascript:;"
            class="btn btn-link"
            >{{ alreadyHaveAnAccount ? "Log In" : "Sign Up" }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
